<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.itep.br.controle.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administracao</servlet-name>
        <servlet-class>com.itep.br.controle.Administracao</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <description>Get Information about Country - jQuery Ajax Request</description>
        <display-name>AjaxTeste</display-name>
        <servlet-name>TestInformation</servlet-name>
        <servlet-class>ajax.TestInformation</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TestInformation</servlet-name>
        <url-pattern>/testInformation</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/erro/erro.jsp</location>
    </error-page>
    <!--
    <error-page>
        <error-code>500</error-code>
        <location>/erro/erro.jsp</location>
    </error-page> Comentario -->
    <servlet-mapping>
        <servlet-name>Administracao</servlet-name>
        <url-pattern>/Administracao.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
